html, body { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; background: #101010; }

#editor {
    height: 100%;
    width: 55%;
    display: inline-block;
}

#iframe {
    height: 100%;
    width: 45%;
    display: inline-block;
    background: #ffffff;
}

#container {
    height: 100%;
    width: auto;
    white-space: nowrap;
}